Repository u14app/deep-research: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Resolve remaining CI/CD pipeline issues and configure Biome rules
  biome.json
  src/app/api/utils.ts
  src/app/page.tsx
  src/components/Internal/Debugger.tsx
  src/components/Internal/Header.tsx
  src/components/Internal/Lightbox.tsx
  src/components/MagicDown/Mermaid.tsx
  src/components/Research/FinalReport/KnowledgeGraph.tsx
  src/hooks/useAiProvider.ts
  src/hooks/useArtifact.ts
  src/hooks/useModelList.ts
  src/hooks/useWebSearch.ts
  src/libs/mcp-server/shared/uriTemplate.ts
  src/libs/mcp-server/sse.ts
  src/libs/mcp-server/streamableHttp.ts
  src/store/history.ts
  src/utils/deep-research/provider.ts
  src/utils/deep-research/search.ts
  src/utils/parser/officeParser.ts
  src/utils/parser/pdfParser.ts
  src/utils/vertexAuth.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

update lockfile
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

Fixes https://github.com/u14app/deep-research/issues/115
  next.config.ts
  src/app/api/ai/openrouter/[...slug]/route.ts
Due: biome check --write --no-errors-on-unmatched

Update sync.yml
  .github/workflows/sync.yml
Due: biome format --write --no-errors-on-unmatched

Add MseeP.ai badge to README.md
  README.md
Due: biome format --write --no-errors-on-unmatched

chore: Upgrade the default model refactor: Optimize support for OpenAI API
  package.json
  src/hooks/useDeepResearch.ts
  src/store/setting.ts
  src/utils/deep-research/index.ts
  src/utils/deep-research/provider.ts
  src/utils/model.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Implement dual-mode architecture with gene research support
  MERGE_PLAN.md
  MODE_SWITCHING_GUIDE.md
  src/components/ModeSelector.tsx
  src/components/Professional/GeneInput.tsx
  src/constants/gene-research-prompts.ts
  src/locales/en-US.json
  src/locales/zh-CN.json
  src/store/mode.ts
  src/types/gene-research.ts
  src/utils/gene-research/README.md
  src/utils/gene-research/api-integrations.ts
  src/utils/gene-research/data-extractor.ts
  src/utils/gene-research/enhanced-quality-control.ts
  src/utils/gene-research/index.ts
  src/utils/gene-research/literature-validator.test.ts
  src/utils/gene-research/literature-validator.ts
  src/utils/gene-research/quality-control.ts
  src/utils/gene-research/query-generator.ts
  src/utils/gene-research/report-templates.ts
  src/utils/gene-research/search-providers.ts
  src/utils/gene-research/visualization-generators.ts
  src/utils/mode-adapter.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Resolve ESLint errors in gene-research modules
  src/utils/gene-research/data-extractor.ts
  src/utils/gene-research/enhanced-quality-control.ts
  src/utils/gene-research/literature-validator.test.ts
  src/utils/gene-research/literature-validator.ts
Due: biome check --write --no-errors-on-unmatched

docs: Add comprehensive test report
  TEST_REPORT.md
Due: biome format --write --no-errors-on-unmatched

feat: Add visible mode switcher UI in main page
  src/components/Research/Topic.tsx
Due: biome check --write --no-errors-on-unmatched

docs: Add comprehensive user guide for dual-mode UI
  USER_GUIDE.md
Due: biome format --write --no-errors-on-unmatched

feat: Add Mod AI Studio provider with manual model input
  src/app/api/ai/modai/[...slug]/route.ts
  src/components/Setting.tsx
  src/hooks/useAiProvider.ts
  src/hooks/useModelList.ts
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched

fix: Add modai provider support to createAIProvider
  src/utils/deep-research/provider.ts
Due: biome check --write --no-errors-on-unmatched

feat: Improve Docker support and update default models
  .dockerignore
  .env.example
  DOCKER.md
  Dockerfile
  docker-build.sh
  docker-compose.yml
  docker-run.sh
  docker-stop.sh
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: UI improvements and Mod AI Studio enhancements
  .env.example
  DOCKER.md
  dev.md
  src/app/globals.css
  src/components/Setting.tsx
  src/constants/urls.ts
  src/hooks/useAiProvider.ts
  src/hooks/useModelList.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Add header authentication to modai route for citation support
  src/app/api/ai/modai/[...slug]/route.ts
Due: biome check --write --no-errors-on-unmatched

fix: Remove exposed IP and configure cross-origin handling
  .env.example
  DOCKER.md
  dev.md
  next.config.ts
  src/components/Setting.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Enable search grounding (citations) for modai provider
  src/hooks/useDeepResearch.ts
  src/utils/deep-research/index.ts
Due: biome check --write --no-errors-on-unmatched

feat: Add organism dropdown selector with preset options
  src/components/Professional/GeneInput.tsx
Due: biome check --write --no-errors-on-unmatched

i18n: Add translations for organism dropdown selector
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
Due: biome format --write --no-errors-on-unmatched

feat: Add complete gene research configuration fields
  src/components/Professional/GeneInput.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Complete DeepGeneResearch field integration and documentation
  dev.md
  src/components/Research/Topic.tsx
  src/utils/mode-adapter.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Integrate gene research specialized prompts system
  dev.md
  src/hooks/useDeepResearch.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Integrate professional biological database search
  dev.md
  src/hooks/useDeepResearch.ts
  src/hooks/useProfessionalSearch.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Integrate professional query generation and report templates
  dev.md
  src/hooks/useDeepResearch.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Integrate data extraction and quality control systems
  dev.md
  src/hooks/useDeepResearch.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Only retry failed tasks in continue research + add upstream tracking
  UPSTREAM_TRACKING.md
  src/hooks/useDeepResearch.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Integrate enhanced literature quality control and visualization suggestions
  dev.md
  src/hooks/useDeepResearch.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Optimize report quality with file format resource and writing templates
  dev.md
  src/components/Research/FinalReport/index.tsx
  src/constants/writing-templates.ts
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Add quick query mode to reduce search time by 73%
  dev.md
  src/hooks/useDeepResearch.ts
  src/utils/gene-research/query-generator.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: Only retry failed tasks in continue research + add upstream tracking
  src/components/Research/SearchResult.tsx
Due: biome check --write --no-errors-on-unmatched

feat: Major professional mode optimization - smart queries and enhanced reports
  src/constants/gene-research-prompts.ts
  src/hooks/useDeepResearch.ts
  src/utils/gene-research/query-generator.ts
Due: biome check --write --no-errors-on-unmatched

docs: Update dev.md with major optimization insights and experience
  dev.md
Due: biome format --write --no-errors-on-unmatched

fix: Remove References section from research plan generation
  src/constants/gene-research-prompts.ts
  src/constants/prompts.ts
Due: biome check --write --no-errors-on-unmatched

feat: Add general mode writing templates with 5 professional presets
  src/components/Research/FinalReport/index.tsx
  src/constants/writing-templates.ts
Due: biome check --write --no-errors-on-unmatched

fix: Skip askQuestions in professional mode for direct gene research
  src/components/Research/Topic.tsx
Due: biome check --write --no-errors-on-unmatched

fix: Fix Docker build configuration issues
  .dockerignore
  Dockerfile
Due: none

fix: Install pnpm in builder stage to fix build command
  Dockerfile
Due: none

feat: Add closed source mode support via Docker build args
  .env.example
  DOCKER.md
  Dockerfile
  docker-compose.yml
  src/components/Setting.tsx
  src/hooks/useAiProvider.ts
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: Add comprehensive build scripts for open source and closed source modes
  BUILD.md
  docker-build-all.sh
  docker-build-closed.sh
  docker-build-opensource.sh
Due: biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  biome format --write --no-errors-on-unmatched: any of: *.{json,md,yml,yaml}
