Repository u14app/deep-research: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: Update terminology from "closed source" to "distribution mode"
  .env.example
  BUILD.md
  DOCKER.md
  docker-compose.yml
Due: biome format --write --no-errors-on-unmatched

feat: Add interactive configuration for distribution mode build
  BUILD.md
  docker-build-all.sh
  docker-build-closed.sh
  src/components/Setting.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: Replace "closed source" terminology with "distribution mode"
  DOCKER.md
  Dockerfile
  docker-build-all.sh
  docker-build-closed.sh
  docker-build-opensource.sh
  src/hooks/useAiProvider.ts
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Add writing hint to Final Report section
  src/components/Research/FinalReport/index.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

perf: Optimize streaming text updates with throttling
  src/hooks/useDeepResearch.ts
Due: biome check --write --no-errors-on-unmatched

docs: Add performance optimization history to dev.md
  dev.md
Due: biome format --write --no-errors-on-unmatched

fix: Critical fixes for search retry logic and professional mode user selections
  dev.md
  src/hooks/useDeepResearch.ts
  src/utils/gene-research/query-generator.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: migrate storage from localStorage to IndexedDB
  src/store/setting.ts
  src/store/task.ts
Due: biome check --write --no-errors-on-unmatched

build: Fix the next.js vulnerability
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

Add MCP tool annotations for better AI understanding
  src/app/api/mcp/server.ts
Due: biome check --write --no-errors-on-unmatched

Add MCP tool annotations for better AI understanding (#149)
  src/app/api/mcp/server.ts
Due: biome check --write --no-errors-on-unmatched

feat: Add support for Brave search.
  README.md
  env.tpl
  next.config.ts
  package.json
  src/app/api/search/brave/[...slug]/route.ts
  src/components/Setting.tsx
  src/constants/urls.ts
  src/hooks/useWebSearch.ts
  src/store/setting.ts
  src/utils/deep-research/search.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Add AGENTS.md to define coding practices and guidelines
  .vscode/settings.json
  AGENTS.md
Due: biome format --write --no-errors-on-unmatched

Implement feature X to enhance user experience and fix bug Y in module Z
  bun.lock
Due: none

feat: add prompt overrides functionality to deep research API
  AGENTS.md
  docs/deep-research-api-doc.md
  src/app/api/sse/live/route.ts
  src/app/api/sse/route.ts
  src/components/Research/FinalReport/KnowledgeGraph.tsx
  src/components/Research/FinalReport/index.tsx
  src/components/Setting.tsx
  src/constants/prompts.ts
  src/hooks/useDeepResearch.ts
  src/hooks/useKnowledge.ts
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
  src/store/setting.ts
  src/utils/deep-research/index.ts
  src/utils/deep-research/prompts.ts
  src/utils/deep-research/search.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add maxCollectionTopics setting and related functionality for improved topic management
  src/components/Setting.tsx
  src/hooks/useDeepResearch.ts
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: refactor Topic component to streamline form structure and improve resource handling
  src/components/Research/Topic.tsx
Due: biome check --write --no-errors-on-unmatched

feat: enhance settings and search functionality with new domain filters and report preferences
  src/components/Setting.tsx
  src/hooks/useDeepResearch.ts
  src/hooks/useWebSearch.ts
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
  src/store/setting.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add suppressHydrationWarning to body element for improved hydration handling
  src/app/layout.tsx
Due: biome check --write --no-errors-on-unmatched

feat: implement workflow progress component and submit shortcut functionality across various components
  src/app/page.tsx
  src/components/Research/Feedback.tsx
  src/components/Research/FinalReport/index.tsx
  src/components/Research/SearchResult.tsx
  src/components/Research/Topic.tsx
  src/components/Research/WorkflowProgress.tsx
  src/hooks/useSubmitShortcut.ts
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: enhance Header and SearchResult components with session export/import functionality and shortcut management
  src/components/Internal/Header.tsx
  src/components/Research/SearchResult.tsx
  src/locales/en-US.json
  src/locales/es-ES.json
  src/locales/vi-VN.json
  src/locales/zh-CN.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add CRW as Firecrawl-compatible alternative for web search
  README.md
  env.tpl
Due: biome format --write --no-errors-on-unmatched

fix: clarify FIRECRAWL_API_BASE_URL scope and Docker localhost caveats
  README.md
  env.tpl
Due: biome format --write --no-errors-on-unmatched

Add Codex plugin quality gate CI
  .github/workflows/plugin-quality-gate.yml
Due: biome format --write --no-errors-on-unmatched

Remove CI workflow from plugin manifest
  .codex-plugin/plugin.json
  .github/workflows/plugin-quality-gate.yml
  .mcp.json
  skills/deep-research/SKILL.md
Due: biome format --write --no-errors-on-unmatched

fix: Fix Ollama token validation logic.
  package.json
  src/middleware.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: auth header extraction for token validation
  src/middleware.ts
Due: biome check --write --no-errors-on-unmatched

fix: handle empty request body for searxng
  src/app/api/search/searxng/[...slug]/route.ts
Due: biome check --write --no-errors-on-unmatched

fix: allow previous time chunk in verifySignature
  src/utils/signature.ts
Due: biome check --write --no-errors-on-unmatched

ci: add GitHub Actions workflow for linting on PRs and manual trigger
  .github/workflows/ci.yml
Due: biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  biome format --write --no-errors-on-unmatched: any of: *.{json,md,yml,yaml}
