Repository u14app/deep-research: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

ci: add GitHub Actions workflow for linting on PRs and manual trigger
  .github/workflows/ci.yml
Due: biome format --write --no-errors-on-unmatched

ci: refresh HOL workflow action refs
  .github/workflows/plugin-quality-gate.yml
Due: biome format --write --no-errors-on-unmatched

feat: add fastCRW (Firecrawl-compatible) search provider
  README.md
  docs/deep-research-api-doc.md
  env.tpl
  next.config.ts
  src/app/api/search/crw/[...slug]/route.ts
  src/app/api/utils.ts
  src/components/Setting.tsx
  src/constants/urls.ts
  src/hooks/useWebSearch.ts
  src/middleware.ts
  src/store/setting.ts
  src/utils/deep-research/search.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add Atlas Cloud as an OpenAI-compatible LLM provider
  README.md
  env.tpl
  next.config.ts
  src/app/api/utils.ts
  src/components/Setting.tsx
  src/constants/urls.ts
  src/hooks/useAiProvider.ts
  src/hooks/useModelList.ts
  src/middleware.ts
  src/store/setting.ts
  src/utils/deep-research/provider.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(atlascloud): expand official Atlas model list
  README.md
  public/atlas-cloud-logo.png
Due: biome format --write --no-errors-on-unmatched

feat: add Requesty as an OpenAI-compatible provider
  env.tpl
  next.config.ts
  src/app/api/ai/requesty/[...slug]/route.ts
  src/app/api/utils.ts
  src/components/Setting.tsx
  src/constants/urls.ts
  src/hooks/useAiProvider.ts
  src/hooks/useModelList.ts
  src/middleware.ts
  src/store/setting.ts
  src/utils/deep-research/provider.ts
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  biome format --write --no-errors-on-unmatched: any of: *.{json,md,yml,yaml}
